@font-face {
  font-family: 'P3';     /* Nome da fonte */
  src: url('fonts/BMSPA___.TTF') format('truetype'); /* Caminho para o arquivo da fonte */
}

@font-face {
  font-family: 'settled';     /* Nome da fonte */
  src: url('fonts/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype'); /* Caminho para o arquivo da fonte */
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fontp3--: 'P3';
    --corheader: #041cb1;
    --fontnormal: 'settled'

}


body {
    margin: 0%;
    padding: 0%;

    height: 100%;
    
    background: #041cb1;
    
}



header {
    display: flex;
    margin: 0px;
    padding: 50px;
    background-color: #041cb1;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links { /* Seus links dentro de uma div ou nav */
    display: flex;
    gap: 100px; /* Espaço de 30px entre cada link */
    flex-wrap: wrap;
    align-items: center;
}

.link-header {
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    font-family: 'P3';
    transition: 0.5s;
    
    
}

.link-header:hover {
    text-shadow: #ffffff;
    opacity: 0.3;
    color: #0eb1f4;
}

.icon-header {
    margin: 0px;
    width: 100px;
    height: 60px;

    align-self: flex-end;
}



main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  
  background: url(images/bg4.jpg) no-repeat ;
  background-size: cover;
  flex-wrap: wrap;
  
  

}

.caixa-principal {
    
    background: #0eb1f4;
    color: aliceblue;

    width: 50vw;
    height: 350vh;
    
    margin: 100px;
    padding: 20px;
    box-sizing: border-box;
    

    
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 

    gap: 20px; 

    font-family: var(--fontnormal);
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    flex-wrap: wrap;

}

.links-principal {
    

    justify-content: space-between;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between, 100px;
    gap: 30px;
    


}

.link {
    text-decoration: none;
    color: aliceblue;
    gap: 50px

}

.icone-link {
    width: 50px;
    height: 50px;

    
}

.icone-link-atlus {
    width: 120px;
    height: 50px;

    
}

.icones-principal {
    padding: 0px;
    

    display: flex;
    flex-direction: column;
}

img {
    width: 130px;
    height: 100px;

    left: -100px;
}

.video {
    margin: 15px;
    width: 670px;
    height: 520px;
    max-width: auto;
    
    
    
    border-radius: 10px;
    box-shadow: #041cb1;
    transition: all 0.3s ease;
    
    
}

.videos-div {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: center;

}

iframe {
    gap: 100px;
}

.char-bg {
    padding: 20px;
    margin: 0;
    width: 910px;
    height: 300px;
    border-radius: 50px;
    background: #041cb1;
    opacity: 0.8;
    overflow: auto; /* Ativa a rolagem */

    /* Personalização para Firefox */
    scrollbar-width: thin;
    scrollbar-color: #041cb1 rgba(0, 0, 0, 0.2);

    border-style: double;
    box-shadow: #202020;
}


.char-bg::-webkit-scrollbar {
    width: 12px;
}
.char-bg::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.char-bg::-webkit-scrollbar-thumb {
    background: #041cb1;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.char-bg::-webkit-scrollbar-thumb:hover {
    background: #0a2ae0;
}



h1 {
    font-family: var(--fontp3--);
    color: aliceblue;
    justify-self: center;
}

.char-texto {
    font-family: var(--fontnormal);
    font-weight: bolder;
    color: aliceblue;
    justify-self: center;
}

.conteudo {
box-shadow: #202020;
padding: 80px;
margin: 0;
}

.char-bg, .img-png, .conteudo {
    display: inline-block;  /* Método alternativo (menos flexível) */
    vertical-align: top;    /* Alinha ao topo (evita desalinhamentos) */
    margin-right: 20px;     /* Espaçamento entre as divs */
    flex-wrap: wrap;
}

.container-flex {
    flex-wrap: wrap;  /* Permite quebra de linha */
}

.logo-p3 {
    display: flex;
    justify-content: center;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .caixa-principal {
        width: 80vw;
        height: auto;
        min-height: 40vh;
        flex-direction: column;

    }

    .char-bg {
        width: 80vw;
        height: auto;
        min-height: 40vh;
        flex-direction: column;
    }
}

footer {
    margin: 0px;
    padding: 30px;
    background: #0eb1f4;
    
    /*background-image: linear-gradient(
        rgb(18, 21, 194),
        rgb(255, 255, 255)
    ); */
    background-size: 1300px 384px;
    
    
    
    color: antiquewhite;
    font-family: 'settled';
    
    /* Adicione estas propriedades para alinhamento horizontal */
    display: flex;
    justify-content: space-around; /* ou space-between, center, etc. */
    align-items: center; /* alinha verticalmente no centro */
    flex-wrap: wrap; /* permite que os itens quebrem para nova linha se necessário */

    box-shadow: #202020;
    
}


.img-makoto {
    margin: 20px;
    width: 150px;
    height: 500px;
    
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.5));
    
    box-shadow: #202020;
    transition: all 0.3s ease;
}

.img-makoto:hover {
    transform: rotate(8deg);
}

.img-yukari {
    width: 250px;
    height: 500px;

    
    box-shadow: #202020;
    transition: all 0.3s ease;
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.5));
}

.img-yukari:hover {
    transform: rotate(8deg);

}

.img-junpei {
    width: 250px;
    height: 500px;

    
    box-shadow: #202020;
    transition: all 0.3s ease;
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.5));
}

.img-junpei:hover {

    transform: rotate(8deg);
}

.img-aigis {
    width: 190px;
    height: 500px;

    box-shadow: #202020;
    transition: all 0.3s ease;
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.5));
}

.img-aigis:hover {
    transform: rotate(8deg);
}

@media (max-width: 1440px){

    .video {
        max-width: auto;
    
    }

}

.arcana-div {
    left: -500px;
    width: 300px;

    margin: 50px;
    padding: 30px;
    border-radius: 20px;
    
    
    

    background: #0a2ae0;
    color: aliceblue;

    font-family: var(--fontnormal);
    opacity: 0.5;
    perspective: 1000px;
    
    
    
}

.arcana__content {
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 600ms ease-in-out

}

.arcana-div:hover {
    opacity: 1;
    transition: 0.6s;
    transform: rotate3d(30deg);
}

.arcana {
    width: 300px;
    height: 400px;
    transition:  transform 2s ease-in-out;

}

.arcana:hover {
    transform: rotate3d(1, 1, 1, 45deg);
}



.arcana-text {
    color: aliceblue;
    font-family: var(--fontp3--);

    
    
}

.caixa-principal-2 {
    
    background: #0eb1f4;
    color: aliceblue;

    width: 50vw;
    height: 60vh;
    
    margin: 35px;
    padding: 20px;
    box-sizing: border-box;
    

    
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: flex-start; 

    gap: 20px; 

    font-family: var(--fontnormal);
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    flex-wrap: wrap;

    

}

.caixa-principal-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.caixa-personagens {
    
    
}

.section-contain {
    

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    
}


.links-principal {
    display: flex;
    position: relative;
    padding: 20px;
    margin: 0px;

    align-items: center;
    justify-content: center;

}

hr {
    
}

.album-cover {
    width: 550px;
    height: 540px;
    box-shadow: #250ef4;
    filter: drop-shadow(5px 5px 5px rgba(27, 12, 230, 0.5));
    
}

h2 {
    color: aliceblue;
    font-family: var(--fontp3--);
}

.caixa {
    justify-content: center;
    
}


/* git clone git@github.com:jp88-cyn/j4c.git */
/* https://www.figma.com/@rocketseat */

/*
Coisas pra fazer :

- Ver um Video ensinando a como Girar a Carta que gira
- fazer a proxima musica começar automaticamente apos a ultima acabar
- rework na area de personagens ( as imagens tao de um jeito horrivel btw )

